body {
    background-image: url("[BASE_PATH]background/ab.jpg");
    background-color: transparent;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-chat.users-list-abs .message-tab {
    margin-right: 17px;
    background-color: #ffeee0;
}

.app-chat.chat-tabs-absolute .chat-tabs {
    overflow: hidden;
    background-color: #fccea9;
}

.app-chat .chat-tabs .nav-link.active {
    font-weight: bold;
    background-color: #fff6ef;
}

.app-form-wrapper,
.app-form-wrapper .app-form-inner,
.app-form-wrapper form {
    position: relative;
    background-color: #FCCEA9;
}

.app-chat .chat-bottom {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    border-top: none !important;
    background-color: #FCCEA9;
}
.app-smiles .wrap-btn-toggle {
    flex-wrap: nowrap;
    visibility: hidden;
}