body {
    background-image: url("[BASE_PATH]background/aa.jpg");
    background-color: transparent;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}