@import url('https://fonts.googleapis.com/css?family=Marck+Script');

body {
    background-image: url("[BASE_PATH]background/ac.jpg");
    background-color: transparent;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-chat.users-list-abs .message-tab {
    margin-right: 17px;
    background-color: #d3f51a5c;
}

.app-chat.chat-tabs-absolute .chat-tabs {
    overflow: hidden;
    background-color: #2da205;
}

.app-chat .chat-tabs .nav-link.active {
    font-weight: bold;
    background-color: #cef211;
}

.app-form-wrapper,
.app-form-wrapper .app-form-inner,
.app-form-wrapper form {
    position: relative;
    background-color: #2da205;
}

.app-chat .chat-bottom {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    border-top: none !important;
    background-color: #2da205;
}

.app-chat .bottom-topper {
    flex-wrap: nowrap;
    visibility: hidden;
    height: 0;
}

.app-chat.users-list-overflowed .users-list {
    overflow-y: scroll;
    background-color: #F2EDF8;
}

.app-chat .users-list .user {
    background-color: #fff;
    background-color: #F2EDF8;
}

.app-chat .chat-messages .mess-row .text {
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    color: #730000;
}

.tr-tab-content {
    background-color: #e4f7a9;
}

.app-chat .chat-bottom [name=message] {
    background-color: #ffeeee;
    font-family: 'Marck Script', cursive;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.form-control {
    background-color: #FFEEEE;
}

.modal-content {
    background-color: #2da205;
}

.app-chat .chat-messages .mess-row.my,
.app-chat.moder .chat-messages .mess-row:hover {
    background-color: #98f872;
}

h1,
h2,
h3,
h4,
h5 {
    color: #020101;
}

a {
    color: black;
}

.alert-dark {
    color: #ffffff;
    background-color: #276b2c;
    border-color: #00f923;
}

.text-muted {
    color: #ffffff !important;
}

.text-dark {
    color: #ffffff !important;
}

.btn-secondary {
    color: #000;
    background-color: #24ff3c;
    border-color: #3fff86;
}

.btn-dark {
    color: #887e7e;
    background-color: #fff;
    border-color: #00f50c;
}

.app-site-menu-fix {
    background: #00bb07;
    border-right: 1px #000000 solid;
}







.app-chat.floating {
    right: 10px;
    bottom: 10px;
    position: fixed;
    height: 70%;
    width: 400px;
    min-width: 325px;
    min-height: 350px;
    box-shadow: 12px 15px 20px 0px #00000061;
}





.app-chat.floating,
.app-stream-playable.fixed,
.tr-window {

    box-shadow: 12px 15px 20px 0px #00000061;
}





.app-chat.users-list-abs .message-tab::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

.app-chat.users-list-abs .message-tab::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

.app-chat.users-list-abs .message-tab::-webkit-scrollbar-track {
    background: #EFFCAC;
}

.app-chat.users-list-abs .message-tab::-webkit-scrollbar-thumb:hover {
    background: #F3F5F6
}

.app-chat.users-list-abs .message-tab::-webkit-scrollbar-thumb:active {
    background: #F3F5F6
}




.app-chat.users-list-overflowed .users-list::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

.app-chat.users-list-overflowed .users-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

.app-chat.users-list-overflowed .users-list::-webkit-scrollbar-track {
    background: #EFFCAC;
}

.app-chat.users-list-overflowed .users-list::-webkit-scrollbar-thumb:hover {
    background: #F3F5F6
}

.app-chat.users-list-overflowed .users-list::-webkit-scrollbar-thumb:active {
    background: #F3F5F6
}






.app-chat .users-list-spacer>.row {
    height: 100%;
    background-color: #EFFCAC;

    .app-chat .users-list-spacer {
        padding: 0 3px;
        background-color: #effcac;
        cursor: pointer;
        box-shadow: -1px 0px 5px 0px #0000008f;
    }}

    .app-chat.users-list-overflowed .users-list {
        overflow-y: scroll;
        background-color: #e8ff6f;
    }
    .app-chat .users-list .user {
        background-color: #e8ff6f;
    }