.tr-window {
    position: absolute;
    border: 1px solid #89B;
    background: #BCE;
    height: 320px;
    width: 380px;
    z-index: 100;
    visibility: hidden;
    top: 300px;
    left: 300px;

    min-height: 320px;
    min-width: 330px;

    overflow: auto;
    resize: horizontal;
}

.tr-title {
    background: #F3F5F6;
    cursor: move;
    font-size: 14px;
    line-height: 10px;
    padding: 4px;
    text-align: center;
    color: black;
}

.tr-close {
    float: right;
    cursor: pointer;
}

.tr-close:after {
    content: "\00274C";
}

.tr-smile {
    padding: 10px;
}

.tr-smile:hover {
    background: #fd0;
    cursor: pointer;
}

.tr-smilex {
    padding: 10px;
}

.tr-smilex:hover {
    background: #fd0;
    cursor: pointer;
}



.tr-tab-caption img {
    width: 16px;
    height: 16px;
}

.tr-tab-content::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

.tr-tab-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

.tr-tab-content::-webkit-scrollbar-track {
    background: white;
}

.tr-tab-content::-webkit-scrollbar-thumb:hover {
    background: #F3F5F6
}

.tr-tab-content::-webkit-scrollbar-thumb:active {
    background: #F3F5F6
}

.tr-tab-caption {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}

.tr-tab-caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
    background: blue;
}

.tr-tab-caption:after {
    content: '';
    display: table;
    clear: both;
}

.tr-tab-caption li {
    padding: 9px 8px;
    margin: 1px 0 0 1px;
    background: #F3F5F6;
    color: black;
    position: relative;
    border: solid #0D74B5;
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.tr-tab-caption li:not(.active) {
    cursor: pointer;
}

.tr-tab-caption li:not(.active):hover {
    background: #F3F5F6;
    border-color: #0D74B5;
}

.tr-tab-caption .active {
    background: #FFF;
    color: #000;
    border-color: #0D74B5;
}

.tr-tab-caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #ffffff;
}

.tr-tab-content {
    display: none;
    background: white;
    border: 2px solid #0D74B5;
    padding: 7px 10px;
    overflow-y: scroll;
    height: 245px;
    box-sizing: border-box;
    padding: 10px;
}

.tr-tab-content.active {
    display: block;
}





input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
    visibility: hidden;
}

input[type="checkbox"].ios8-switch+label {
    position: relative;
    padding-left: 50px
}

input[type="checkbox"].ios8-switch+label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    /* x*5 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px;
    /* x*3 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch:checked+label:after {
    margin-left: 16px;
}

input[type="checkbox"].ios8-switch:checked+label:before {
    background: #55D069;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
    visibility: hidden;
}

input[type="checkbox"].ios8-switch-sm+label {
    position: relative;
    padding-left: 32px
}

input[type="checkbox"].ios8-switch-sm+label:before {
    width: 25px;
    /* x*5 */
    height: 15px;
    /* x*3 */
    border-radius: 10px;
    /* x*2 */
}

input[type="checkbox"].ios8-switch-sm+label:after {
    width: 15px;
    /* x*3 */
    height: 15px;
    /* x*3 */
    border-radius: 10px;
    /* x*2 */
}

input[type="checkbox"].ios8-switch-sm+label:hover:after {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch-sm:checked+label:after {
    margin-left: 10px;
    /* x*2 */
}

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
    visibility: hidden;
}

input[type="checkbox"].ios8-switch-lg+label {
    position: relative;
    padding-left: 60px
}

input[type="checkbox"].ios8-switch-lg+label:before {
    width: 50px;
    /* x*5 */
    height: 30px;
    /* x*3 */
    border-radius: 20px;
    /* x*2 */
}

input[type="checkbox"].ios8-switch-lg+label:after {
    width: 30px;
    height: 30px;
    /* x*3 */
    border-radius: 20px;
    /* x*2 */
}

input[type="checkbox"].ios8-switch-lg+label:hover:after {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch-lg:checked+label:after {
    margin-left: 20px;
}

.tr-pt10 {
    padding-top: 10px;
}

.tr-pr {
    float: right;
}
.tr-w50{
    width: 50%;
}
.tr-pl10{
    padding-left: 10px;
}